article {
  border: solid 1px #ccc;
  padding: 5px 10px;
  &.read {
    background-color: #f3f3f3;
  }
}

footer {
  background-color: #eee;
}

#sidebar {
  border-right: solid 1px #eee;
  padding-top: 50px;
}

.feed_list_item .controls {
  display: none;
}
.feed_list_item:hover .controls {
  display: inline;
}