article {
  border: solid 1px #ddd;
  box-shadow: 0 0 4px #e3e5eb;
  margin-bottom: 20px;
  overflow-x: auto;
}
article.read {
  background-color: #f3f3f3;
}
article.read a {
  color: #333;
}
article.active {
  border-left-color: #4d90f0;
}
article .content {
  padding: 5px 10px;
}
article .footer {
  background-color: #f3f3f3;
  padding: 5px 10px;
}
.after-articles,
.after-articles a {
  color: #999;
  margin-bottom: 20px;
}
footer {
  background-color: #eee;
}
#sidebar {
  border-right: solid 1px #eee;
  padding-top: 50px;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  height: 20px;
  background-color: red;
  color: white;
  text-align: center;
}
