<form method="POST" action="/feed/new">
  <fieldset>
    <input type="text" class="input-medium" name="url" placeholder="Feed URL"><br/>
    <button type="submit" class="btn"><i class="icon-plus"></i> Add</button>
  </fieldset>
</form>