<head>
  <title>Reader</title>
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" type="text/css" href="/css/cosmo.bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>