{% include '_feed_new_form.twig' %}
<ul class="unstyled">
  {# sidebarFeed comes from locals in server.js #}
  {% for feed in sidebarFeeds %}
    {% set unreadCount = feed.getUnreadCount() %}
    {% if not user.unreadOnly or unreadCount %}
      <li class="feed_list_item">
        <a class="js-load-ajax" href="/feed/{{ feed.id }}">{{ feed.title }}</a> ({{ unreadCount }})
      </li>
    {% endif %}
  {% endfor %}
</ul>
<a class="btn" href="/feed/import">Import</a>