{% extends "layout.twig" %}
{% block content %}
  <h2>Feeds</h2>
  <ul class="unstyled">
    {% for feed in feeds %}
      <li><a href="/feed/{{ feed.id }}">{{ feed.name }}</a> ({{ feed.getUnreadCount() }})</li>
    {% endfor %}
  </ul>
{% endblock %}