{% extends "layout.twig" %}
{% block content %}
  <h2>Feeds</h2>
  <ul class="unstyled">
    {% for feed in feeds %}
      <li><a href="/feed/{{ feed | url_encode }}">{{ feed }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}