<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reader</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2" id="sidebar">
          {% include '_feed_new_form.twig' %}
        </div>
        <div class="span10">
          <div class="page-header">
            <h1><a href="/">RSS Reader</a> <small>a google reader clone</small></h1>
          </div>
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <footer>
      RSS Reader
    </footer>
    <script type="text/javascript" href="/js/bootstrap.js"></script>
  </body>
</html>