{% extends "layout.twig" %}
{% block content %}
  <h1>Login</h1>
  <form method="POST" action="/login">
    <fieldset>
      <input type="text" name="username" placeholder="Username"><br/>
      <input type="password" name="password" placeholder="Password"><br/>
      <button type="submit" class="btn btn-primary">Login</button>
    </fieldset>
  </form>
{% endblock %}